/* Begin main CSS */
body{
    margin: 0;
    font-family: sans-serif;

}
.wrapper{
    min-height: 100vh;
    background: #ccc;
    display: flex;
    flex-direction: column;
}

.header {
    height: 50px;
    background: #666;
    color: #fff;
    padding: 5px;
    box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);

}

.content {
    display: flex;
    flex: 1;
    background: #999;
    color: #000;
    min-height: calc(100vh - 50px);
}
.columns{
    display: flex;
    flex:1;
}
.main {
    flex: 1;
    order: 2;
    background: #eee;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
}
.sidebar-first {
    width: 20%;
    background: #454752;
    order: 1;
    flex-direction: column;
    display: flex;
}
.sidebar-second {
    width: 20%;
    order: 3;
    background: #454752;
    display: flex;
}

.current-channel-name {
    text-align: center;
}

/* Begin Chat window CSS */
.chat-window {
    flex: auto;
    /*max-height: calc(100% - 60px);*/
    background: #2f323b;
    overflow: auto;
}
.msg-container {
    /*position: relative;*/
    display: inline-block;
    width: 100%;
    margin: 0 0 10px 0;
    padding: 2%;
}
.msg-box {
    display: flex;
    background: #5b5e6c;
    padding: 10px 10px 0 10px;
    border-radius: 6px;
    max-width: 80%;
    width: auto;
    float: left;
    box-shadow: 0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);
}

.msg-self .msg-box {
    /*border-radius: 6px 0 0 6px;*/
    background: #2671ff;
    float: right;
}
.user-img {
    display: inline-block;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    background: #2671ff;
    margin: 0 10px 10px 0;
}
.flr {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    width: calc(100% - 50px);
}
.messages {
    flex: 1 0 auto;
}
.msg {
    display: inline-block;
    font-size: 11pt;
    line-height: 13pt;
    color: rgba(255,255,255,.7);
    margin: 0 0 4px 0;
}
.msg:first-of-type {
    margin-top: 8px;
}
.timestamp {
    color: rgba(0,0,0,.38);
    font-size: 8pt;
    margin-bottom: 10px;
}
.username {
    margin-right: 3px;
}

/********/
html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #1c1e22;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
::-webkit-scrollbar {
    width: 4px;
}
::-webkit-scrollbar-thumb {
    background-color: #4c4c6a;
    border-radius: 2px;
}
.chat-box {
    height: calc(100vh);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
}
.chat-window {
    flex: auto;
    max-height: calc(100% - 60px);
    background: #2f323b;
    overflow: auto;
    padding: 10px;
}

.msg-container {
    position: relative;
    display: inline-block;
    width: 100%;
    margin: 0 0 10px 0;
    padding: 0;
}

.user-img {
    display: inline-block;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    background: #2671ff;
    margin: 0 10px 10px 0;
}
.flr {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    width: calc(100% - 50px);
}
.messages {
    flex: 1 0 auto;
}
.msg {
    display: inline-block;
    font-size: 11pt;
    line-height: 13pt;
    color: rgba(255,255,255,.7);
    margin: 0 0 4px 0;
    word-wrap    : break-word;
    overflow-wrap: break-word;
    overflow: hidden;
    /* TODO: figure out why long words still overflow */
}
.msg:first-of-type {
    margin-top: 8px;
}
.timestamp {
    color: rgba(0,0,0,.38);
    font-size: 8pt;
    margin-bottom: 10px;
}
.username {
    margin-right: 3px;
}
.posttime {
    margin-left: 3px;
}
.reactions {
    margin-left: 3px;
}

.msg-self .user-img {
    margin: 0 0 10px 10px;
}
.msg-self .msg {
    text-align: right;
}
.msg-self .timestamp {
    text-align: right;
}

/* Begin channel list*/
ul {
    list-style-type: none;
}

.channel-list {
    flex: auto;
    /*max-height: calc(100% - 60px);*/
    /*background: #2f323b;*/
    overflow: auto;
    margin: 10px;
    height: 90%;
}

#channels-header #servers-header {
    font-size: 9pt;
    text-align: center;
    color: lightgrey;
    padding: 10px;
}

.channel-container {
    display: block;
    font-family: sans-serif;
    font-size: 11pt;
    padding: 4px;
}

.channel-name {
    float: left;
    text-align: center;
    font-family: sans-serif;
    font-size: 11pt;
    display: inline-block;
    line-height: 13pt;
    margin: 0 0 0 4px;
    color: lightgrey;
}

#channel-hashtag {
    float: left;
    color: lightgrey;
}


/* Begin current user info */
.current-user-info {
    width: 100%;
    align-self: flex-end;
    bottom: 0;
    background: grey;
}

.current-user-container {
    font-family: sans-serif;
    font-size: 11pt;
    padding: 4px;
    color: lightgrey;
}

/* Begin user list */
#users-header {
    font-size: 9pt;
    text-align: center;
    color: lightgrey;
    padding: 10px;
}

.users-list {
    margin: 10px;
    width: 100%;
}

.user-container {
    display: block;
    font-family: sans-serif;
    font-size: 11pt;
    padding: 4px;
    color: whitesmoke;
}

/* Begin text box CSS */
.chat-input {
    flex: 0 0 auto;
    height: 60px;
    background: #40434e;
    border-top: 1px solid #2671ff;
    box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
}
.chat-input input {
    height: 59px;
    line-height: 60px;
    outline: 0 none;
    border: none;
    width: calc(100% - 60px);
    color: white;
    text-indent: 10px;
    font-size: 12pt;
    padding: 0;
    background: #40434e;
}
.chat-input button {
    float: right;
    outline: 0 none;
    border: none;
    background: rgba(255,255,255,.25);
    height: 40px;
    width: 40px;
    border-radius: 50%;
    padding: 2px 0 0 0;
    margin: 10px;
    transition: all 0.15s ease-in-out;
}
.chat-input input[good] + button {
    box-shadow: 0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);
    background: #2671ff;
}
.chat-input input[good] + button:hover {
    box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
.chat-input input[good] + button path {
    fill: white;
}

/* current user drop up menu stuff */
/* The container <div> - needed to position the dropup content */
.dropup {
    position: relative;
    display: inline-block;
}

/* Dropup content (Hidden by Default) */
.dropup-content {
    display: none;
    position: absolute;
    bottom: 50px;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropup */
.dropup-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropup links on hover */
.dropup-content a:hover {background-color: #ddd}

/* Show the dropup menu on hover */
.dropup-content {
    display: block;
}

/* Change the background color of the dropup button when the dropup content is shown */
.dropup:hover .dropbtn {
    background-color: #2980B9;
}